$font: Arial, Helvetica, sans-serif;


$body-color: #69696b;
$orange-color: #ff8450;
$text-main-color: #edeef1;
$btn-main-color: #a90fdb;
$btn-text-color: #ffffff;

$box-shadow: 0 0 10px 3px $btn-main-color;
$modal-bg: rgba(169,15,219,0.2);


